* {
    padding: 0;
    margin: 0;
}
body{
    background: rgb(155, 253, 155);
}
.app{
    margin: 10px;
}
.header{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header__title{
    text-decoration: underline;
}

.main{
    margin: 0 auto;
    max-width: 700px;
    margin-top: 50px;
}
.main__form{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.form__lable{
    font-size: 20px;
    text-transform: uppercase;
}
.form__input{   
    background: rgb(96, 241, 96); 
    border: none;  
    padding: 5px 20px;
    border-radius: 10px;
}
.form__btn{
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}
.main__output{
    margin-top: 30px;
    text-align: center;
}
.output__name{
    font-size: 20px;
    text-decoration: underline;
}